/* Variables and mixins declared here will be available in all other SCSS files */
$base-indent: 8px;
@function indent($multiplier) {
    @return $base-indent * $multiplier;
}

$body-background-color: #fff;
$main-background-color: #fff;
$header-background-color: #fff;
$hover-background-color: rgba(134, 99, 222, 0.06);

$border-color: #ddd;

$link-hover-color: #8663de;
$shadow-color: rgba(0, 0, 0, 0.12);
$shadow-alt-color: #8663de;

$text-color-primary: rgb(50, 50, 50);
$icon-color: rgb(70, 70, 70);

@mixin content-wrapper {
    width: 55%;
}

@mixin default-box-shadow($color: $shadow-color) {
    box-shadow: 0 0 8px $color;
}

@mixin sheet {
    padding: indent(3);
    background-color: $main-background-color;
    @include default-box-shadow;
}

@mixin heading-large {
    font-size: 2rem;
}

@mixin heading-medium {
    font-size: 1.3rem;
}

@mixin transition($property) {
    transition: $property 0.2s ease-in-out;
}
